<p>
  <b>Name:</b>
  <%=h @forum_category.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @forum_category.description %>
</p>

<p>
  <b>Position:</b>
  <%=h @forum_category.position %>
</p>


<%= link_to 'Edit', edit_forum_category_path(@forum_category) %> |
<%= link_to 'Back', forum_categories_path %>
