<p>
  <b>Name:</b>
  <%=h @forum_option.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @forum_option.value %>
</p>

<p>
  <b>Forum:</b>
  <%=h @forum_option.forum_id %>
</p>


<%= link_to 'Edit', edit_forum_option_path(@forum_option) %> |
<%= link_to 'Back', forum_options_path %>
